@using Microsoft.AspNetCore.Identity
@using Todo.Services
@using System.Net.Http
@using Newtonsoft.Json.Linq

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">

                    @{

                        var iu = await UserManager.GetUserAsync(User);
                        var emailAddress = await UserManager.GetEmailAsync(iu);
                        var gravatarhash = Gravatar.GetHash(emailAddress);
                        string url = $"https://en.gravatar.com/{gravatarhash}.json";
                        var displayName = string.Empty;
                        using (var client = new HttpClient())
                        {
                            client.Timeout = TimeSpan.FromSeconds(2);

                            try
                            {
                                var response = await client.GetAsync(url);
                                if (response.IsSuccessStatusCode)
                                {
                                    var content = await response.Content.ReadAsStringAsync();
                                    var profileEntry = JObject.Parse(content)["entry"];
                                    if (profileEntry.Any())
                                    {
                                        var userProfile = profileEntry[0];
                                        var userName = userProfile["displayName"];
                                        var email = userProfile["email"];
                                        displayName = $"{userName} {email}";
                                    }

                                }
                            }
                            catch (HttpRequestException ex)
                            {
                                displayName = @UserManager.GetUserName(User);
                            }

                        }
                    }

                    <img src="https://www.gravatar.com/avatar/@gravatarhash?s=30" /> @displayName
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}